@import './vars';
@import './theme_rules/colors';
@import './mixins';

body {
    background: $color;
    color: #000000;
    user-select: none;
    box-sizing: border-box;
// base rules
@import './base_rules/base';
@import './base_rules/special-classes';
@import './state_rules/display';

    h1 {
        color: #0f0;
    }
}
// layout
@import './layout_rules/body';
@import './layout_rules/header';
@import './layout_rules/navigation';
@import './layout_rules/content';
@import './layout_rules/aside';
@import './layout_rules/footer';

@media (min-width: 1000px) {
    body {
        background: #ffff00;
    }
}

@media (min-width: 1400px) {
    body {
        background: #ff0000;
    }
}

@media (min-width: 1000px) {
    h1 {
        color: #446569;
    }
}
// modules
@import './modules_rules/menu-main';
