// colors
$color-red: #ed1c24;
$color-white: #fdfffc;
$color-blue: #235789;
$color-yellow: #f1d302;
$color-black: #020100;
$color-background: #f5f5ff;

$text-color: #333333;
$text-color-white: #ffffff;
